.container-big-card {
	width: 100%;
	max-width: 600px;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 0 auto;
	padding: 10px;

	.big-card-title {
		h1 {
			font-size: 30px;
			margin-top: 15px;
		}
	}

	.big-card-description {
		margin-top: 10px;

		p {
			color: grey;
		}
	}

	.big-card-photo {
		width: 100%;

		img {
			width: 100%;
			height: auto;
			min-width: 100%;
		}
	}
}

@media (max-width: 600px) {
	.container-big-card {
		padding: 10px;
	}

	.container-big-card .big-card-title h1 {
		font-size: 22px;
	}
}
