.container-small-card {
	width: 100%;
	margin-bottom: 15px;


	.container-small-card-content {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		.small-card-photo {
			flex: 1;
			min-width: 150px;

			img {
				width: 100%;
				height: auto;
				margin-right: 20px;

				box-shadow: 0px 1px 31px -6px rgba(255,255,255,0.75);
			}
		}

		.small-card-title {
			flex: 2;
			display: flex;
			align-items: center;
			justify-content: left;
			text-align: left;

			h1 {
				margin-left: 10px;

				font-size: 25px;
				font-weight: 1000;
			}
		}
	}

	.container-small-card-separator {
		margin-top: 10px;
	}
}

@media (max-width: 600px) {
	.container-small-card .container-small-card-content {
		flex-direction: column;
		align-items: center;
		text-align: center;

		.small-card-photo {
			margin-right: 0;
		}
	}
}
