.container-articles {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 30px;
	flex-wrap: wrap;
	padding: 0 10px;
}

.articles-main,
.articles-others {
	width: 100%;
	max-width: 600px;
}

header {
	margin-top: 20px;
	display: flex;
	justify-content: center;
}
